#info-2{
    margin: 2rem auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    .info-container{
        width: 50%;
        margin: 4rem 0;
    }
    h2{
        font-size: 2.75rem;
    }
    .text-pink{
        color:#C91C5A;      
    }
    p{
        color: #505A73;
    }
}