#info-2{
    margin: 2rem auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    .info-container{
        width: 50%;
        margin: 4rem 0;
    }
    h2{
        font-size: 2.75rem;
    }
    .text-pink{
        color:#C91C5A;      
    }
    p{
        color: #505A73;
    }
    @media screen and (max-width:600px) {
        flex-direction: column;
        .info-container{
          width: 90%;
          margin: 1rem 0;

          h2{
              font-size: 1.75rem;
              margin: 0 0 1rem 0;
          }

          p{
              font-size: 15px;
          }
        }
      }
}