#main{

    font-family: 'Inter', sans-serif !important;
    h1,h2,h3{
        font-family: 'PlusJakartaDisplay', sans-serif !important; 
        font-weight: 700;
    }

    h4,h5,p{
        font-family: 'Inter', sans-serif !important;
    }
}
